* {
  box-sizing: border-box;
}
.price{
  padding-left: 20px;
}
.card{
  margin-left: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background: #fff;
  background-color: #fff;
  width: 100%;
}

.item{
  line-height: 1;
  padding: 24px 0 30px 0;
  display: block;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}

.link{
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.thumb{
  position: relative;
    width: 200px;
}
.data{
  width: 100%;
  padding-left: 25px;
}
._3wU53n{
  font-weight: 500;
    font-size: 18px;
    display: block;
    cursor: pointer;
}
a, img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}
._3ULzGw{
  margin-top: 13px;
}
.vFw0gD{
  margin-top: 5px;
  color: #212121;
  line-height: 22px;
  display: table;
}
.tVe95H{
  display: table-row;
  padding-right: 8px;
}
.shelf-container {
  // display: flex;
  flex-wrap: wrap;
  width: 85%;
  min-height: 600px;

  &-header {
    width: 100%;
    margin-bottom: 10px;

    .products-found {
      float: left;
      margin: 0;
      margin-top: 8px;
    }

    .sort {
      float: right;

      select {
        background-color: #fff;
        outline: none;
        border: 1px solid #ececec;
        border-radius: 2px;
        margin-left: 10px;
        width: auto;
        height: 35px;
        cursor: pointer;

        &:hover {
          border: 1px solid #5b5a5e;
        }
      }
    }
  }

  .shelf-item {
    width: 25%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border: 1px solid #eee;

      .shelf-item__buy-btn {
        background-color: #eabf00;
      }
    }

    .shelf-stopper {
      position: absolute;
      color: #ececec;
      top: 10px;
      right: 10px;
      padding: 5px;
      font-size: 0.6em;
      background-color: #1b1a20;
      cursor: default;
    }

    &__thumb {
      img {
        width: 100%;
      }
    }

    &__title {
      position: relative;
      padding: 0 20px;
      height: 45px;

      &::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: #eabf00;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }
    }

    &__price {
      height: 60px;

      .val {
        b {
          font-size: 1.5em;
          margin-left: 5px;
        }
      }

      .installment {
        color: #9c9b9b;
      }
    }

    &__buy-btn {
      background-color: #1b1a20;
      color: #fff;
      padding: 15px 0;
      margin-top: 10px;
      cursor: pointer;
      // border-bottom: 2px solid #151419;
      transition: background-color 0.2s;
    }
  }
}
