$mycolor:#781781;

.fixed-header{
    position: fixed;
    margin-top: -50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    will-change: transform;
    width: 100%;
    height: 56px;
    background-color: $mycolor;
    z-index: 10;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.searchbar {
    padding-top: 8px;
    display: flex;
    position: relative;
    z-index: 1;
}

.search-input {
    color: $mycolor;
    height: 40px;
    width: 100%;
    padding-left: 2.2rem;
}

.icon-magnify {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    margin-left: 1.2rem;
    opacity: .5;
    &:after {
        content: '';
        position: absolute;
        right: -6px;
        bottom: -3px;
        width: 7px;
        height: 2px;
        transform: rotate(45deg);
        background: white;
    }
}

.searchbar-icon {
    @extend .icon-magnify;
    position: absolute;
    left: 0.8rem;
    top: -3px;
    bottom: 0;
    margin: auto;
    opacity: 1;
    border: 2px solid $mycolor;
    &:after {
        background: $mycolor;
    }
}