@import url('https://fonts.googleapis.com/css?family=Roboto');

.col{
  display: inline-block;
  vertical-align: top;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  padding: 20px 2%;
  max-width: 1800px;
  margin: 50px auto 0 auto;
}

@media only screen and (max-width: 1024px) {
  body {
    .filters {
      width: 20%;
    }
    .shelf-container {
      width: 80%;
      .shelf-item {
        width: 33.33%;
      }
      .data{
        padding-left: 10px;
        font-size: medium;
      }
      .thumb{
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    .filters {
      width: 20%;
    }
    .shelf-container {
      width: 80%;
      .shelf-item {
        width: 50%;
        padding: 10px;
        &__title {
          margin-top: 5px;
          padding: 0;
        }
      }
      .thumb{
        width: 150px;
      }
      .data{
        padding-left: 10px;
        font-size: small;
      }
    }
    .float-cart {
      width: 100%;
      right: -100%;

      &--open {
        right: 0;
      }

      &__close-btn {
        left: 0px;
        z-index: 2;
        background-color: #1b1a20;
      }

      &__header {
        padding: 25px 0;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  body {
    main {
      display: flex;
      flex-wrap: wrap;
      padding: 2%;
      margin-top: 42px;
    }
    .filters {
      width: 100%;
      margin-right: 0;
      text-align: center;
      .title {
        margin-bottom: 15px;
      }
    }
    .shelf-container-header {
      .products-found {
        width: 100%;
        text-align: center;
        margin: 10px 0;
      }
      .sort {
        width: 100%;
        text-align: center;
      }
    }
    .shelf-container {
      width: 100%;
      .shelf-item {
        width: 50%;
        &__buy-btn {
          display: none;
        }
      }
      .data{
        padding-left: 10px;
        font-size: smaller;
      }
      .thumb{
        width: 100px;
      }
    }
  }
}
